.about-text{
    top:-200px;
}

.about-image{
    position: relative;
    top:200px;
}

@media only screen and (max-width:800px){

    .about-text{
        
        top:200px;
     
    }

}

@media only screen and (max-height:600px){
.about-image{
    top: 0px!important;;
}
}

@media only screen and (max-height:530px){

    .about-text{
        top:100px;
        left:unset;
     
    }

}
  
    @media only screen and (max-height:390px){

        .about-text{
            top:30px;
        }
    }